@font-face {
    font-family: 'Material Icons'; font-style: normal; font-weight: 400;
    src: url(path/to/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'), local('MaterialIcons-Regular'),
    url(path/to/MaterialIcons-Regular.woff2) format('woff2'),
    url(path/to/MaterialIcons-Regular.woff) format('woff'),
    url(path/to/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal; font-size: 24px; /* Preferred icon size */
    display: inline-block; line-height: 1;
    text-transform: none;
    letter-spacing: normal; word-wrap: normal;
    white-space: nowrap; direction: ltr; /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased; /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility; /* Support for Firefox. */ -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */ font-feature-settings: 'liga';
}


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: darkslateblue;
}

.wrap{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    color:#FFF;
    text-align:center;
}

.material-icons{
    font-size:10rem;
}

.lg-text{
    font-size:2rem;
    font-weight:bold;
    margin-bottom:5px;
}

.sm-text{
    font-size:1.5rem;
}

#dynamic{
    position:relative;
    display: inline-block;
}

#dynamic::after{
    content:"";
    display:block;
    position:absolute;
    top:0;
    right:0;
    right:-10px;
    width:4px;
    height:100%;
    background-color: #FFF;;
}

#dynamic.active::after{
    display:none;
}